[data-theme="light"] {
  --bg-surface-base: var(--color-base-white-a100);
  --bg-surface-container-low: var(--color-grey-50);
  --bg-surface-container: var(--color-grey-100);
  --fg-text-brand-primary: var(--color-brand-700);
  --fg-text-high: var(--color-grey-900);
  --fg-text-medium: var(--color-grey-600);
  --fg-text-low: var(--color-grey-400);
  --frame-space-sm: var(--unit-3);
  --frame-space-xs: var(--unit-2);
  --frame-space-2xs: var(--unit-1,5);
  --frame-space-3xs: var(--unit-1);
  --frame-space-xl: var(--unit-8);
  --frame-scrim-regular: var(--color-base-black-a70);
  --bg-neutral-light-on-default: var(--color-base-white-a100);
  --bg-danger-on-default: var(--color-base-white-a100);
  --bg-success-on-default: var(--color-base-white-a100);
  --bg-neutral-dark-on-default: var(--color-base-white-a100);
  --bg-warning-default-primary: var(--color-orange-600);
  --bg-surface-container-high: var(--color-grey-200);
  --bg-surface-background-brand: var(--color-brand-50);
  --frame-space-none: var(--unit-0);
  --bg-brand-1-default-primary: var(--color-brand-600);
  --bg-brand-1-on-default: var(--color-base-white-a100);
  --bg-brand-1-subtle-primary: var(--color-brand-50);
  --bg-brand-1-vivid: var(--color-brand-700);
  --bg-neutral-default-primary: var(--color-grey-500);
  --bg-neutral-on-default: var(--color-base-white-a100);
  --bg-neutral-subtle-primary: var(--color-grey-100);
  --bg-neutral-vivid: var(--color-grey-800);
  --bg-surface-background-secondary: var(--color-mallow-50);
  --frame-screen-compact: var(--sizing-max-w-screen-sm);
  --frame-screen-medium: var(--sizing-max-w-screen-lg);
  --frame-screen-expanded: var(--sizing-max-w-screen-xl);
  --frame-screen-full: var(--sizing-max-w-screen-2xl);
  --frame-width-sm: var(--unit-24);
  --frame-width-full: var(--sizing-max-w-7xl);
  --frame-width-lg: var(--unit-64);
  --frame-width-xl: var(--unit-72);
  --frame-width-2xl: var(--unit-96);
  --frame-space-md: var(--unit-4);
  --frame-space-lg: var(--unit-6);
  --frame-space-2xl: var(--unit-12);
  --frame-space-3xl: var(--unit-16);
  --frame-space-4xl: var(--unit-20);
  --stroke-width-base: var(--border-width-border);
  --stroke-width-thick: var(--border-width-border-2);
  --stroke-width-thicker: var(--border-width-border-4);
  --stroke-divider-light: var(--color-grey-50);
  --stroke-outline-medium-:enabled: var(--color-grey-400);
  --stroke-outline-primary-:enabled: var(--color-brand-500);
  --stroke-outline-medium-:hover: var(--color-grey-600);
  --stroke-outline-primary-:hover: var(--color-brand-700);
  --bg-danger-default-primary: var(--color-red-600);
  --bg-danger-subtle-primary: var(--color-red-50);
  --bg-danger-vivid: var(--color-red-600);
  --bg-success-default-primary: var(--color-green-600);
  --bg-success-subtle-primary: var(--color-green-50);
  --bg-success-vivid: var(--color-green-700);
  --bg-neutral-dark-default-primary: var(--color-grey-700);
  --bg-neutral-dark-subtle-primary: var(--color-grey-200);
  --bg-neutral-dark-vivid: var(--color-grey-950);
  --bg-warning-vivid: var(--color-orange-700);
  --bg-warning-on-default: var(--color-base-white-a100);
  --bg-warning-subtle-primary: var(--color-orange-50);
  --bg-neutral-light-default-primary: var(--color-grey-100);
  --bg-neutral-light-subtle-primary: var(--color-grey-50);
  --bg-neutral-light-subtle-secondary: var(--color-grey-100);
  --icon-size-sm: var(--unit-4);
  --icon-size-xl: var(--unit-10);
  --icon-size-2xl: var(--unit-12);
  --icon-size-lg: var(--unit-8);
  --icon-size-md: var(--unit-6);
  --stroke-outline-medium-:active: var(--color-grey-700);
  --stroke-outline-primary-:active: var(--color-brand-800);
  --bg-brand-2-default-primary: var(--color-mallow-600);
  --bg-brand-2-on-default: var(--color-base-white-a100);
  --bg-brand-2-subtle-primary: var(--color-mallow-50);
  --bg-brand-2-vivid: var(--color-mallow-700);
  --bg-brand-1-default-secondary: var(--color-brand-700);
  --stroke-outline-focus-ring-brand: var(--color-brand-500);
  --bg-brand-1-default-tertiary: var(--color-brand-800);
  --bg-brand-1-subtle-secondary: var(--color-brand-100);
  --bg-brand-1-subtle-tertiary: var(--color-brand-200);
  --bg-brand-2-default-secondary: var(--color-mallow-700);
  --bg-brand-2-default-tertiary: var(--color-mallow-800);
  --bg-brand-2-subtle-secondary: var(--color-mallow-100);
  --bg-brand-2-subtle-tertiary: var(--color-mallow-200);
  --bg-neutral-default-secondary: var(--color-grey-600);
  --bg-neutral-default-tertiary: var(--color-grey-700);
  --bg-neutral-subtle-secondary: var(--color-grey-200);
  --bg-neutral-subtle-tertiary: var(--color-grey-300);
  --bg-neutral-light-default-secondary: var(--color-grey-200);
  --bg-neutral-light-default-tertiary: var(--color-grey-300);
  --bg-neutral-light-subtle-tertiary: var(--color-grey-200);
  --bg-danger-default-secondary: var(--color-red-700);
  --bg-danger-default-tertiary: var(--color-red-800);
  --bg-danger-subtle-secondary: var(--color-red-100);
  --bg-danger-subtle-tertiary: var(--color-red-200);
  --bg-success-default-secondary: var(--color-green-700);
  --bg-success-default-tertiary: var(--color-green-800);
  --bg-success-subtle-secondary: var(--color-green-100);
  --bg-success-subtle-tertiary: var(--color-green-200);
  --bg-neutral-dark-default-secondary: var(--color-grey-800);
  --bg-neutral-dark-default-tertiary: var(--color-grey-900);
  --bg-neutral-dark-subtle-secondary: var(--color-grey-300);
  --bg-neutral-dark-subtle-tertiary: var(--color-grey-400);
  --bg-warning-default-secondary: var(--color-orange-700);
  --bg-warning-default-tertiary: var(--color-orange-800);
  --bg-warning-subtle-secondary: var(--color-orange-100);
  --bg-warning-subtle-tertiary: var(--color-orange-200);
  --icon-size-xs: var(--unit-3);
  --bg-note-default-primary: var(--color-yellow-600);
  --bg-note-on-default: var(--color-base-white-a100);
  --bg-note-subtle-primary: var(--color-yellow-50);
  --bg-note-default-secondary: var(--color-yellow-700);
  --bg-surface-background-workflow 50: var(--color-blue-50);
  --bg-brand-3-default-primary: var(--color-blue-600);
  --bg-brand-3-on-default: var(--color-base-white-a100);
  --bg-brand-3-subtle-primary: var(--color-blue-100);
  --bg-brand-3-default-secondary: var(--color-blue-700);
  --bg-brand-3-default-tertiary: var(--color-blue-900);
  --bg-brand-3-subtle-secondary: var(--color-blue-200);
  --bg-brand-3-subtle-tertiary: var(--color-blue-300);
  --bg-brand-3-vivid: var(--color-blue-800);
  --stroke-outline-tertiary-:enabled: var(--color-blue-500);
  --stroke-outline-tertiary-:hover: var(--color-blue-700);
  --stroke-outline-tertiary-:active: var(--color-blue-800);
  --bg-note-subtle-tertiary: var(--color-yellow-200);
  --bg-note-vivid: var(--color-yellow-800);
  --stroke-outline-secondary-:enabled: var(--color-mallow-500);
  --stroke-outline-secondary-:hover: var(--color-mallow-700);
  --stroke-outline-secondary-:active: var(--color-mallow-800);
  --fg-text-txt-error: var(--color-red-700);
  --fg-text-title-tertiary: var(--color-blue-700);
  --frame-space-4xs: var(--unit-0,5);
  --stroke-rounded-none: var(--border-radius-rounded-none);
  --stroke-rounded-sm: var(--border-radius-rounded-sm);
  --stroke-rounded-xl: var(--border-radius-rounded-xl);
  --stroke-rounded-base: var(--border-radius-rounded-base);
  --stroke-rounded-md: var(--border-radius-rounded-md);
  --stroke-rounded-lg: var(--border-radius-rounded-lg);
  --stroke-rounded-full: var(--border-radius-rounded-full);
  --stroke-rounded-2xl: var(--border-radius-rounded-2xl);
  --stroke-rounded-3xl: var(--border-radius-rounded-3xl);
  --frame-width-xs: var(--unit-16);
  --stroke-outline-dark-:enabled: var(--color-grey-800);
  --stroke-outline-dark-:hover: var(--color-grey-900);
  --stroke-outline-dark-:active: var(--color-grey-950);
  --stroke-divider-dark: var(--color-grey-100);
  --stroke-outline-light-:enabled: var(--color-grey-100);
  --stroke-outline-light-:hover: var(--color-grey-200);
  --stroke-outline-light-:active: var(--color-grey-300);
  --stroke-outline-distructive-:enabled: var(--color-red-500);
  --stroke-outline-distructive-:hover: var(--color-red-700);
  --stroke-outline-distructive-:active: var(--color-red-800);
  --fg-text-placeholder: var(--color-grey-200);
  --fg-text-title-secondary: var(--color-mallow-700);
  --fg-text-high-inverse: var(--color-base-white-a100);
  --fg-text-medium-inverse: var(--color-base-white-a70);
  --fg-text-low-inverse: var(--color-base-white-a48);
  --fg-text-placeholder-inverse: var(--color-base-white-a32);
  --bg-neutral-light-vivid: var(--color-grey-400);
  --bg-note-default-tertiary: var(--color-yellow-700);
  --bg-note-subtle-secondary: var(--color-yellow-100);
  --frame-width-md: var(--unit-40);
  --bg-glass-default-primary: var(--color-base-white-a70);
  --bg-glass-default-secondary: var(--color-base-white-a48);
  --bg-glass-default-tertiary: var(--color-base-white-a32);
  --bg-glass-vivid: var(--color-base-white-a100);
  --bg-glass-on-default: var(--color-base-white-a100);
  --bg-glass-subtle-primary: var(--color-base-white-a05);
  --bg-glass-subtle-secondary: var(--color-base-white-a10);
  --bg-glass-subtle-tertiary: var(--color-base-white-a32);
  --stroke-outline-warning-:enabled: var(--color-orange-600);
  --stroke-outline-warning-:hover: var(--color-orange-700);
  --stroke-outline-warning-:active: var(--color-orange-800);
  --stroke-outline-positive-:enabled: var(--color-green-500);
  --stroke-outline-positive-:hover: var(--color-green-700);
  --stroke-outline-positive-:active: var(--color-green-800);
}

[data-theme="dark"] {
  --bg-surface-base: var(--color-base-black-a100);
  --bg-surface-container-low: var(--color-grey-950);
  --bg-surface-container: var(--color-grey-900);
  --fg-text-brand-primary: var(--color-brand-500);
  --fg-text-high: var(--color-grey-100);
  --fg-text-medium: var(--color-grey-300);
  --fg-text-low: var(--color-grey-600);
  --frame-space-sm: var(--unit-3);
  --frame-space-xs: var(--unit-2);
  --frame-space-2xs: var(--unit-1,5);
  --frame-space-3xs: var(--unit-1);
  --frame-space-xl: var(--unit-8);
  --frame-scrim-regular: var(--color-base-black-a70);
  --bg-neutral-light-on-default: var(--color-base-white-a100);
  --bg-danger-on-default: var(--color-base-white-a100);
  --bg-success-on-default: var(--color-base-white-a100);
  --bg-neutral-dark-on-default: var(--color-base-white-a100);
  --bg-warning-default-primary: var(--color-orange-600);
  --bg-surface-container-high: var(--color-grey-800);
  --bg-surface-background-brand: var(--color-brand-950);
  --frame-space-none: var(--unit-0);
  --bg-brand-1-default-primary: var(--color-brand-600);
  --bg-brand-1-on-default: var(--color-base-white-a100);
  --bg-brand-1-subtle-primary: var(--color-brand-950);
  --bg-brand-1-vivid: var(--color-brand-300);
  --bg-neutral-default-primary: var(--color-grey-600);
  --bg-neutral-on-default: var(--color-base-white-a100);
  --bg-neutral-subtle-primary: var(--color-grey-950);
  --bg-neutral-vivid: var(--color-grey-300);
  --bg-surface-background-secondary: var(--color-mallow-950);
  --frame-screen-compact: var(--sizing-max-w-screen-sm);
  --frame-screen-medium: var(--sizing-max-w-screen-lg);
  --frame-screen-expanded: var(--sizing-max-w-screen-xl);
  --frame-screen-full: var(--sizing-max-w-screen-2xl);
  --frame-width-sm: var(--unit-24);
  --frame-width-full: var(--sizing-max-w-7xl);
  --frame-width-lg: var(--unit-64);
  --frame-width-xl: var(--unit-72);
  --frame-width-2xl: var(--unit-96);
  --frame-space-md: var(--unit-4);
  --frame-space-lg: var(--unit-6);
  --frame-space-2xl: var(--unit-12);
  --frame-space-3xl: var(--unit-16);
  --frame-space-4xl: var(--unit-20);
  --stroke-width-base: var(--border-width-border);
  --stroke-width-thick: var(--border-width-border-2);
  --stroke-width-thicker: var(--border-width-border-4);
  --stroke-divider-light: var(--color-grey-950);
  --stroke-outline-medium-:enabled: var(--color-grey-400);
  --stroke-outline-primary-:enabled: var(--color-brand-700);
  --stroke-outline-medium-:hover: var(--color-grey-300);
  --stroke-outline-primary-:hover: var(--color-brand-600);
  --bg-danger-default-primary: var(--color-red-600);
  --bg-danger-subtle-primary: var(--color-red-950);
  --bg-danger-vivid: var(--color-red-300);
  --bg-success-default-primary: var(--color-green-600);
  --bg-success-subtle-primary: var(--color-green-950);
  --bg-success-vivid: var(--color-green-300);
  --bg-neutral-dark-default-primary: var(--color-grey-600);
  --bg-neutral-dark-subtle-primary: var(--color-grey-950);
  --bg-neutral-dark-vivid: var(--color-grey-300);
  --bg-warning-vivid: var(--color-orange-300);
  --bg-warning-on-default: var(--color-base-white-a100);
  --bg-warning-subtle-primary: var(--color-orange-950);
  --bg-neutral-light-default-primary: var(--color-grey-800);
  --bg-neutral-light-subtle-primary: var(--color-grey-950);
  --bg-neutral-light-subtle-secondary: var(--color-grey-900);
  --icon-size-sm: var(--unit-4);
  --icon-size-xl: var(--unit-10);
  --icon-size-2xl: var(--unit-12);
  --icon-size-lg: var(--unit-8);
  --icon-size-md: var(--unit-6);
  --stroke-outline-medium-:active: var(--color-grey-200);
  --stroke-outline-primary-:active: var(--color-brand-500);
  --bg-brand-2-default-primary: var(--color-mallow-600);
  --bg-brand-2-on-default: var(--color-base-white-a100);
  --bg-brand-2-subtle-primary: var(--color-mallow-950);
  --bg-brand-2-vivid: var(--color-mallow-300);
  --bg-brand-1-default-secondary: var(--color-brand-700);
  --stroke-outline-focus-ring-brand: var(--color-brand-500);
  --bg-brand-1-default-tertiary: var(--color-brand-800);
  --bg-brand-1-subtle-secondary: var(--color-brand-900);
  --bg-brand-1-subtle-tertiary: var(--color-brand-800);
  --bg-brand-2-default-secondary: var(--color-mallow-700);
  --bg-brand-2-default-tertiary: var(--color-mallow-800);
  --bg-brand-2-subtle-secondary: var(--color-mallow-900);
  --bg-brand-2-subtle-tertiary: var(--color-mallow-800);
  --bg-neutral-default-secondary: var(--color-grey-700);
  --bg-neutral-default-tertiary: var(--color-grey-800);
  --bg-neutral-subtle-secondary: var(--color-grey-900);
  --bg-neutral-subtle-tertiary: var(--color-grey-800);
  --bg-neutral-light-default-secondary: var(--color-grey-800);
  --bg-neutral-light-default-tertiary: var(--color-grey-700);
  --bg-neutral-light-subtle-tertiary: var(--color-grey-950);
  --bg-danger-default-secondary: var(--color-red-700);
  --bg-danger-default-tertiary: var(--color-red-800);
  --bg-danger-subtle-secondary: var(--color-red-900);
  --bg-danger-subtle-tertiary: var(--color-red-800);
  --bg-success-default-secondary: var(--color-green-700);
  --bg-success-default-tertiary: var(--color-green-800);
  --bg-success-subtle-secondary: var(--color-green-900);
  --bg-success-subtle-tertiary: var(--color-green-800);
  --bg-neutral-dark-default-secondary: var(--color-grey-700);
  --bg-neutral-dark-default-tertiary: var(--color-grey-600);
  --bg-neutral-dark-subtle-secondary: var(--color-grey-900);
  --bg-neutral-dark-subtle-tertiary: var(--color-grey-800);
  --bg-warning-default-secondary: var(--color-orange-700);
  --bg-warning-default-tertiary: var(--color-orange-800);
  --bg-warning-subtle-secondary: var(--color-orange-900);
  --bg-warning-subtle-tertiary: var(--color-orange-800);
  --icon-size-xs: var(--unit-3);
  --bg-note-default-primary: var(--color-yellow-600);
  --bg-note-on-default: var(--color-base-white-a100);
  --bg-note-subtle-primary: var(--color-yellow-900);
  --bg-note-default-secondary: var(--color-yellow-300);
  --bg-surface-background-workflow 50: var(--color-blue-950);
  --bg-brand-3-default-primary: var(--color-blue-600);
  --bg-brand-3-on-default: var(--color-base-white-a100);
  --bg-brand-3-subtle-primary: var(--color-blue-950);
  --bg-brand-3-default-secondary: var(--color-blue-700);
  --bg-brand-3-default-tertiary: var(--color-brand-900);
  --bg-brand-3-subtle-secondary: var(--color-blue-900);
  --bg-brand-3-subtle-tertiary: var(--color-blue-800);
  --bg-brand-3-vivid: var(--color-blue-300);
  --stroke-outline-tertiary-:enabled: var(--color-blue-700);
  --stroke-outline-tertiary-:hover: var(--color-blue-600);
  --stroke-outline-tertiary-:active: var(--color-blue-500);
  --bg-note-subtle-tertiary: var(--color-yellow-200);
  --bg-note-vivid: var(--color-yellow-800);
  --stroke-outline-secondary-:enabled: var(--color-mallow-700);
  --stroke-outline-secondary-:hover: var(--color-mallow-600);
  --stroke-outline-secondary-:active: var(--color-mallow-500);
  --fg-text-txt-error: var(--color-red-500);
  --fg-text-title-tertiary: var(--color-blue-500);
  --frame-space-4xs: var(--unit-0,5);
  --stroke-rounded-none: var(--border-radius-rounded-none);
  --stroke-rounded-sm: var(--sizing-max-w-sm);
  --stroke-rounded-xl: var(--border-radius-rounded-xl);
  --stroke-rounded-base: var(--border-radius-rounded-base);
  --stroke-rounded-md: var(--border-radius-rounded-md);
  --stroke-rounded-lg: var(--border-radius-rounded-lg);
  --stroke-rounded-full: var(--border-radius-rounded-full);
  --stroke-rounded-2xl: var(--border-radius-rounded-2xl);
  --stroke-rounded-3xl: var(--border-radius-rounded-3xl);
  --frame-width-xs: var(--unit-16);
  --stroke-outline-dark-:enabled: var(--color-grey-50);
  --stroke-outline-dark-:hover: var(--color-grey-100);
  --stroke-outline-dark-:active: var(--color-grey-200);
  --stroke-divider-dark: var(--color-grey-700);
  --stroke-outline-light-:enabled: var(--color-grey-700);
  --stroke-outline-light-:hover: var(--color-grey-600);
  --stroke-outline-light-:active: var(--color-grey-500);
  --stroke-outline-distructive-:enabled: var(--color-red-700);
  --stroke-outline-distructive-:hover: var(--color-red-600);
  --stroke-outline-distructive-:active: var(--color-red-500);
  --fg-text-placeholder: var(--color-grey-800);
  --fg-text-title-secondary: var(--color-mallow-500);
  --fg-text-high-inverse: var(--color-base-black-a100);
  --fg-text-medium-inverse: var(--color-base-black-a70);
  --fg-text-low-inverse: var(--color-base-black-a48);
  --fg-text-placeholder-inverse: var(--color-base-black-a32);
  --bg-neutral-light-vivid: var(--color-grey-600);
  --bg-note-default-tertiary: var(--color-yellow-300);
  --bg-note-subtle-secondary: var(--color-yellow-900);
  --frame-width-md: var(--unit-32);
  --bg-glass-default-primary: var(--color-yellow-600);
  --bg-glass-default-secondary: var(--color-yellow-300);
  --bg-glass-default-tertiary: var(--color-yellow-300);
  --bg-glass-vivid: var(--color-yellow-950);
  --bg-glass-on-default: var(--color-base-white-a100);
  --bg-glass-subtle-primary: var(--color-yellow-900);
  --bg-glass-subtle-secondary: var(--color-yellow-900);
  --bg-glass-subtle-tertiary: var(--color-yellow-200);
  --stroke-outline-warning-:enabled: var(--color-orange-700);
  --stroke-outline-warning-:hover: var(--color-orange-600);
  --stroke-outline-warning-:active: var(--color-orange-500);
  --stroke-outline-positive-:enabled: var(--color-green-700);
  --stroke-outline-positive-:hover: var(--color-green-600);
  --stroke-outline-positive-:active: var(--color-green-500);
}

[data-theme="atipik"] {
  --bg-surface-base: var(--color-base-white-a100);
  --bg-surface-container-low: var(--color-grey-50);
  --bg-surface-container: var(--color-grey-100);
  --fg-text-brand-primary: var(--color-atipik-700);
  --fg-text-high: var(--color-grey-900);
  --fg-text-medium: var(--color-grey-600);
  --fg-text-low: var(--color-grey-400);
  --frame-space-sm: var(--unit-3);
  --frame-space-xs: var(--unit-2);
  --frame-space-2xs: var(--unit-1,5);
  --frame-space-3xs: var(--unit-1);
  --frame-space-xl: var(--unit-8);
  --frame-scrim-regular: var(--color-base-black-a70);
  --bg-neutral-light-on-default: var(--color-base-white-a100);
  --bg-danger-on-default: var(--color-base-white-a100);
  --bg-success-on-default: var(--color-base-white-a100);
  --bg-neutral-dark-on-default: var(--color-base-white-a100);
  --bg-warning-default-primary: var(--color-orange-600);
  --bg-surface-container-high: var(--color-grey-200);
  --bg-surface-background-brand: var(--color-atipik-50);
  --frame-space-none: var(--unit-0);
  --bg-brand-1-default-primary: var(--color-atipik-600);
  --bg-brand-1-on-default: var(--color-base-white-a100);
  --bg-brand-1-subtle-primary: var(--color-atipik-50);
  --bg-brand-1-vivid: var(--color-atipik-700);
  --bg-neutral-default-primary: var(--color-grey-600);
  --bg-neutral-on-default: var(--color-base-white-a100);
  --bg-neutral-subtle-primary: var(--color-grey-50);
  --bg-neutral-vivid: var(--color-grey-700);
  --bg-surface-background-secondary: var(--color-grey-50);
  --frame-screen-compact: var(--sizing-max-w-screen-sm);
  --frame-screen-medium: var(--sizing-max-w-screen-lg);
  --frame-screen-expanded: var(--sizing-max-w-screen-xl);
  --frame-screen-full: var(--sizing-max-w-screen-2xl);
  --frame-width-sm: var(--unit-24);
  --frame-width-full: var(--sizing-max-w-7xl);
  --frame-width-lg: var(--unit-64);
  --frame-width-xl: var(--unit-72);
  --frame-width-2xl: var(--unit-96);
  --frame-space-md: var(--unit-4);
  --frame-space-lg: var(--unit-6);
  --frame-space-2xl: var(--unit-12);
  --frame-space-3xl: var(--unit-16);
  --frame-space-4xl: var(--unit-20);
  --stroke-width-base: var(--border-width-border);
  --stroke-width-thick: var(--border-width-border-2);
  --stroke-width-thicker: var(--border-width-border-4);
  --stroke-divider-light: var(--color-grey-50);
  --stroke-outline-medium-:enabled: var(--color-grey-400);
  --stroke-outline-primary-:enabled: var(--color-atipik-500);
  --stroke-outline-medium-:hover: var(--color-grey-600);
  --stroke-outline-primary-:hover: var(--color-atipik-700);
  --bg-danger-default-primary: var(--color-red-600);
  --bg-danger-subtle-primary: var(--color-red-50);
  --bg-danger-vivid: var(--color-red-600);
  --bg-success-default-primary: var(--color-green-600);
  --bg-success-subtle-primary: var(--color-green-50);
  --bg-success-vivid: var(--color-green-700);
  --bg-neutral-dark-default-primary: var(--color-grey-600);
  --bg-neutral-dark-subtle-primary: var(--color-grey-50);
  --bg-neutral-dark-vivid: var(--color-grey-700);
  --bg-warning-vivid: var(--color-orange-700);
  --bg-warning-on-default: var(--color-base-white-a100);
  --bg-warning-subtle-primary: var(--color-orange-50);
  --bg-neutral-light-default-primary: var(--color-grey-200);
  --bg-neutral-light-subtle-primary: var(--color-grey-50);
  --bg-neutral-light-subtle-secondary: var(--color-grey-100);
  --icon-size-sm: var(--unit-4);
  --icon-size-xl: var(--unit-10);
  --icon-size-2xl: var(--unit-12);
  --icon-size-lg: var(--unit-8);
  --icon-size-md: var(--unit-6);
  --stroke-outline-medium-:active: var(--color-grey-700);
  --stroke-outline-primary-:active: var(--color-atipik-800);
  --bg-brand-2-default-primary: var(--color-grey-600);
  --bg-brand-2-on-default: var(--color-base-white-a100);
  --bg-brand-2-subtle-primary: var(--color-grey-50);
  --bg-brand-2-vivid: var(--color-grey-700);
  --bg-brand-1-default-secondary: var(--color-atipik-700);
  --stroke-outline-focus-ring-brand: var(--color-atipik-500);
  --bg-brand-1-default-tertiary: var(--color-atipik-800);
  --bg-brand-1-subtle-secondary: var(--color-atipik-100);
  --bg-brand-1-subtle-tertiary: var(--color-atipik-200);
  --bg-brand-2-default-secondary: var(--color-grey-700);
  --bg-brand-2-default-tertiary: var(--color-grey-800);
  --bg-brand-2-subtle-secondary: var(--color-atipik-100);
  --bg-brand-2-subtle-tertiary: var(--color-atipik-200);
  --bg-neutral-default-secondary: var(--color-grey-700);
  --bg-neutral-default-tertiary: var(--color-grey-800);
  --bg-neutral-subtle-secondary: var(--color-grey-100);
  --bg-neutral-subtle-tertiary: var(--color-grey-200);
  --bg-neutral-light-default-secondary: var(--color-grey-300);
  --bg-neutral-light-default-tertiary: var(--color-grey-300);
  --bg-neutral-light-subtle-tertiary: var(--color-grey-50);
  --bg-danger-default-secondary: var(--color-red-700);
  --bg-danger-default-tertiary: var(--color-red-800);
  --bg-danger-subtle-secondary: var(--color-red-100);
  --bg-danger-subtle-tertiary: var(--color-red-200);
  --bg-success-default-secondary: var(--color-green-700);
  --bg-success-default-tertiary: var(--color-green-800);
  --bg-success-subtle-secondary: var(--color-green-100);
  --bg-success-subtle-tertiary: var(--color-green-200);
  --bg-neutral-dark-default-secondary: var(--color-grey-700);
  --bg-neutral-dark-default-tertiary: var(--color-grey-800);
  --bg-neutral-dark-subtle-secondary: var(--color-grey-100);
  --bg-neutral-dark-subtle-tertiary: var(--color-grey-200);
  --bg-warning-default-secondary: var(--color-orange-700);
  --bg-warning-default-tertiary: var(--color-orange-800);
  --bg-warning-subtle-secondary: var(--color-orange-100);
  --bg-warning-subtle-tertiary: var(--color-orange-200);
  --icon-size-xs: var(--unit-3);
  --bg-note-default-primary: var(--color-yellow-600);
  --bg-note-on-default: var(--color-base-white-a100);
  --bg-note-subtle-primary: var(--color-yellow-50);
  --bg-note-default-secondary: var(--color-yellow-700);
  --bg-surface-background-workflow 50: var(--color-atipik-50);
  --bg-brand-3-default-primary: var(--color-atipik-600);
  --bg-brand-3-on-default: var(--color-base-white-a100);
  --bg-brand-3-subtle-primary: var(--color-atipik-100);
  --bg-brand-3-default-secondary: var(--color-atipik-700);
  --bg-brand-3-default-tertiary: var(--color-atipik-900);
  --bg-brand-3-subtle-secondary: var(--color-atipik-200);
  --bg-brand-3-subtle-tertiary: var(--color-atipik-300);
  --bg-brand-3-vivid: var(--color-atipik-800);
  --stroke-outline-tertiary-:enabled: var(--color-atipik-500);
  --stroke-outline-tertiary-:hover: var(--color-atipik-700);
  --stroke-outline-tertiary-:active: var(--color-atipik-800);
  --bg-note-subtle-tertiary: var(--color-yellow-200);
  --bg-note-vivid: var(--color-yellow-900);
  --stroke-outline-secondary-:enabled: var(--color-grey-500);
  --stroke-outline-secondary-:hover: var(--color-grey-700);
  --stroke-outline-secondary-:active: var(--color-grey-800);
  --fg-text-txt-error: var(--color-red-700);
  --fg-text-title-tertiary: var(--color-atipik-700);
  --frame-space-4xs: var(--unit-0,5);
  --stroke-rounded-none: var(--border-radius-rounded-none);
  --stroke-rounded-sm: var(--border-radius-rounded-sm);
  --stroke-rounded-xl: var(--border-radius-rounded-xl);
  --stroke-rounded-base: var(--border-radius-rounded-base);
  --stroke-rounded-md: var(--border-radius-rounded-md);
  --stroke-rounded-lg: var(--border-radius-rounded-lg);
  --stroke-rounded-full: var(--border-radius-rounded-full);
  --stroke-rounded-2xl: var(--border-radius-rounded-2xl);
  --stroke-rounded-3xl: var(--border-radius-rounded-3xl);
  --frame-width-xs: var(--unit-16);
  --stroke-outline-dark-:enabled: var(--color-grey-800);
  --stroke-outline-dark-:hover: var(--color-grey-900);
  --stroke-outline-dark-:active: var(--color-grey-950);
  --stroke-divider-dark: var(--color-grey-100);
  --stroke-outline-light-:enabled: var(--color-grey-100);
  --stroke-outline-light-:hover: var(--color-grey-200);
  --stroke-outline-light-:active: var(--color-grey-300);
  --stroke-outline-distructive-:enabled: var(--color-atipik-500);
  --stroke-outline-distructive-:hover: var(--color-atipik-700);
  --stroke-outline-distructive-:active: var(--color-atipik-800);
  --fg-text-placeholder: var(--color-grey-400);
  --fg-text-title-secondary: var(--color-atipik-700);
  --fg-text-high-inverse: var(--color-grey-900);
  --fg-text-medium-inverse: var(--color-grey-600);
  --fg-text-low-inverse: var(--color-grey-400);
  --fg-text-placeholder-inverse: var(--color-grey-400);
  --bg-neutral-light-vivid: var(--color-grey-300);
  --bg-note-default-tertiary: var(--color-yellow-700);
  --bg-note-subtle-secondary: var(--color-yellow-50);
  --frame-width-md: var(--unit-32);
  --bg-glass-default-primary: var(--color-yellow-600);
  --bg-glass-default-secondary: var(--color-yellow-700);
  --bg-glass-default-tertiary: var(--color-yellow-700);
  --bg-glass-vivid: var(--color-yellow-950);
  --bg-glass-on-default: var(--color-base-white-a100);
  --bg-glass-subtle-primary: var(--color-yellow-50);
  --bg-glass-subtle-secondary: var(--color-yellow-50);
  --bg-glass-subtle-tertiary: var(--color-yellow-200);
  --stroke-outline-warning-:enabled: var(--color-atipik-500);
  --stroke-outline-warning-:hover: var(--color-atipik-700);
  --stroke-outline-warning-:active: var(--color-atipik-800);
  --stroke-outline-positive-:enabled: var(--color-atipik-500);
  --stroke-outline-positive-:hover: var(--color-atipik-700);
  --stroke-outline-positive-:active: var(--color-atipik-800);
}

[data-theme="Gero"] {
  --color-base-black-a100: rgba(13, 13, 13, 100%);
  --color-base-white-a100: rgba(255, 255, 255, 100%);
  --color-grey-50: rgba(245, 246, 247, 100%);
  --color-grey-100: rgba(232, 233, 235, 100%);
  --color-grey-200: rgba(197, 198, 199, 100%);
  --color-grey-300: rgba(172, 172, 173, 100%);
  --color-grey-400: rgba(144, 144, 145, 100%);
  --color-grey-500: rgba(120, 120, 120, 100%);
  --color-grey-600: rgba(93, 94, 94, 100%);
  --color-grey-700: rgba(75, 75, 77, 100%);
  --color-grey-800: rgba(54, 55, 56, 100%);
  --color-grey-900: rgba(38, 39, 41, 100%);
  --color-brand-50: rgba(240, 245, 242, 100%);
  --color-brand-100: rgba(207, 232, 225, 100%);
  --color-brand-200: rgba(154, 214, 198, 100%);
  --color-brand-300: rgba(108, 196, 172, 100%);
  --color-brand-400: rgba(71, 178, 149, 100%);
  --color-brand-500: rgba(40, 161, 128, 100%);
  --color-brand-600: rgba(14, 143, 108, 100%);
  --color-brand-700: rgba(21, 117, 91, 100%);
  --color-brand-800: rgba(24, 92, 73, 100%);
  --color-brand-900: rgba(23, 66, 54, 100%);
  --color-green-50: rgba(234, 245, 233, 100%);
  --color-green-100: rgba(194, 229, 188, 100%);
  --color-green-200: rgba(157, 214, 148, 100%);
  --color-green-300: rgba(124, 199, 111, 100%);
  --color-green-400: rgba(94, 184, 79, 100%);
  --color-green-500: rgba(67, 168, 50, 100%);
  --color-green-600: rgba(43, 152, 26, 100%);
  --color-green-700: rgba(38, 128, 24, 100%);
  --color-green-800: rgba(33, 102, 21, 100%);
  --color-green-900: rgba(26, 77, 18, 100%);
  --color-red-50: rgba(250, 232, 232, 100%);
  --color-red-100: rgba(245, 201, 201, 100%);
  --color-red-200: rgba(240, 165, 165, 100%);
  --color-red-300: rgba(235, 131, 131, 100%);
  --color-red-400: rgba(229, 99, 99, 100%);
  --color-red-500: rgba(224, 67, 67, 100%);
  --color-red-600: rgba(220, 38, 38, 100%);
  --color-red-700: rgba(178, 32, 32, 100%);
  --color-red-800: rgba(138, 26, 26, 100%);
  --color-red-900: rgba(97, 19, 19, 100%);
  --color-orange-50: rgba(250, 242, 237, 100%);
  --color-orange-100: rgba(245, 216, 201, 100%);
  --color-orange-200: rgba(240, 191, 165, 100%);
  --color-orange-300: rgba(235, 166, 131, 100%);
  --color-orange-400: rgba(229, 143, 99, 100%);
  --color-orange-500: rgba(224, 121, 67, 100%);
  --color-orange-600: rgba(219, 100, 37, 100%);
  --color-orange-700: rgba(178, 82, 32, 100%);
  --color-orange-800: rgba(138, 64, 26, 100%);
  --color-orange-900: rgba(97, 46, 19, 100%);
  --color-yellow-50: rgba(245, 242, 233, 100%);
  --color-yellow-100: rgba(240, 231, 197, 100%);
  --color-yellow-200: rgba(235, 221, 162, 100%);
  --color-yellow-300: rgba(229, 210, 129, 100%);
  --color-yellow-400: rgba(224, 200, 96, 100%);
  --color-yellow-500: rgba(224, 194, 67, 100%);
  --color-yellow-600: rgba(219, 184, 37, 100%);
  --color-yellow-700: rgba(178, 150, 32, 100%);
  --color-yellow-800: rgba(138, 116, 26, 100%);
  --color-yellow-900: rgba(97, 82, 19, 100%);
  --color-blue-50: rgba(235, 240, 250, 100%);
  --color-blue-100: rgba(206, 217, 240, 100%);
  --color-blue-200: rgba(176, 194, 232, 100%);
  --color-blue-300: rgba(146, 170, 222, 100%);
  --color-blue-400: rgba(120, 149, 214, 100%);
  --color-blue-500: rgba(94, 128, 204, 100%);
  --color-blue-600: rgba(70, 109, 197, 100%);
  --color-blue-700: rgba(58, 87, 169, 100%);
  --color-blue-800: rgba(43, 68, 149, 100%);
  --color-blue-900: rgba(37, 59, 123, 100%);
  --color-mallow-50: rgba(248, 241, 244, 100%);
  --color-mallow-100: rgba(245, 223, 234, 100%);
  --color-mallow-200: rgba(232, 197, 214, 100%);
  --color-mallow-300: rgba(222, 173, 197, 100%);
  --color-mallow-400: rgba(212, 150, 180, 100%);
  --color-mallow-500: rgba(201, 129, 164, 100%);
  --color-mallow-600: rgba(191, 111, 150, 100%);
  --color-mallow-700: rgba(158, 82, 119, 100%);
  --color-mallow-800: rgba(128, 59, 92, 100%);
  --color-mallow-900: rgba(94, 38, 65, 100%);
  --color-red-950: rgba(54, 11, 11, 100%);
  --color-orange-950: rgba(56, 27, 12, 100%);
  --color-green-950: rgba(18, 51, 12, 100%);
  --color-blue-950: rgba(31, 43, 78, 100%);
  --color-yellow-950: rgba(56, 48, 12, 100%);
  --color-mallow-950: rgba(63, 14, 39, 100%);
  --color-brand-950: rgba(16, 38, 32, 100%);
  --color-grey-950: rgba(23, 24, 26, 100%);
  --color-atipik-50: rgba(250, 242, 240, 100%);
  --color-atipik-100: rgba(250, 232, 227, 100%);
  --color-atipik-200: rgba(247, 214, 208, 100%);
  --color-atipik-300: rgba(245, 169, 154, 100%);
  --color-atipik-400: rgba(247, 136, 116, 100%);
  --color-atipik-500: rgba(240, 101, 79, 100%);
  --color-atipik-600: rgba(235, 71, 47, 100%);
  --color-atipik-700: rgba(217, 56, 35, 100%);
  --color-atipik-800: rgba(196, 41, 24, 100%);
  --color-atipik-900: rgba(178, 28, 14, 100%);
  --color-atipik-950: rgba(158, 16, 6, 100%);
  --color-base-white-a05: rgba(255, 255, 255, 5%);
  --color-base-white-a10: rgba(255, 255, 255, 10%);
  --color-base-white-a32: rgba(255, 255, 255, 32%);
  --color-base-white-a48: rgba(255, 255, 255, 48%);
  --color-base-white-a70: rgba(255, 255, 255, 70%);
  --color-base-black-a05: rgba(13, 13, 13, 5%);
  --color-base-black-a10: rgba(13, 13, 13, 10%);
  --color-base-black-a32: rgba(13, 13, 13, 32%);
  --color-base-black-a48: rgba(13, 13, 13, 48%);
  --color-base-black-a70: rgba(13, 13, 13, 70%);
}

[data-theme="Mode 1"] {
  --accessibility-focus-ring: var(--color-brand-700);
}
