[data-theme="default"] {
  --color-bg-surface-base: var(--color-white-a100);
  --color-bg-surface-container-low: var(--color-grey-50);
  --color-bg-surface-container: var(--color-grey-100);
  --color-fg-emerald-default-tertiary: var(--color-brand-700);
  --color-fg-on-surface-high: var(--color-grey-900);
  --color-fg-on-surface-medium: var(--color-grey-600);
  --color-fg-on-surface-low: var(--color-grey-400);
  --spacing-padding-3: var(--unit-3);
  --spacing-padding-2: var(--unit-2);
  --spacing-padding-1,5: var(--unit-1,5);
  --spacing-padding-1: var(--unit-1);
  --spacing-padding-8: var(--unit-8);
  --color-scrim-regular: var(--color-black-a70);
  --color-fg-danger-on-default: var(--color-white-a100);
  --color-fg-positive-on-default: var(--color-white-a100);
  --color-bg-warning-default-primary: var(--color-orange-600);
  --color-bg-surface-container-high: var(--color-grey-200);
  --color-bg-surface-container-primary: var(--color-brand-50);
  --spacing-padding-0: var(--unit-0);
  --color-bg-emerald-default-primary: var(--color-brand-600);
  --color-fg-emerald-on-default: var(--color-white-a100);
  --color-bg-emerald-subtle-primary: var(--color-brand-50);
  --color-fg-emerald-vivid: var(--color-brand-900);
  --color-bg-neutral-base-default-primary: #00ff22;
  --color-fg-neutral-on-default: var(--color-white-a100);
  --color-bg-neutral-base-subtle-primary: #00ff22;
  --color-fg-neutral-default-secondary: var(--color-grey-600);
  --color-bg-surface-container-secondary: var(--color-mallow-50);
  --sizing-width-24: var(--unit-24);
  --sizing-width-64: var(--unit-64);
  --sizing-width-72: var(--unit-72);
  --sizing-width-96: var(--unit-96);
  --spacing-padding-4: var(--unit-4);
  --spacing-padding-6: var(--unit-6);
  --spacing-padding-12: var(--unit-12);
  --spacing-padding-16: var(--unit-16);
  --spacing-padding-20: var(--unit-20);
  --stroke-width-base: var(--border-width-px);
  --stroke-width-thick: var(--border-width-0,5);
  --stroke-width-thicker: var(--border-width-1);
  --stroke-color-divider-light: var(--color-grey-50);
  --stroke-color-neutral-default-primary: var(--color-grey-600);
  --stroke-color-emerald-default-primary: var(--color-brand-600);
  --stroke-color-neutral-default-secondary: var(--color-grey-700);
  --stroke-color-emerald-default-secondary: var(--color-brand-700);
  --color-bg-danger-default-primary: var(--color-red-600);
  --color-bg-danger-subtle-primary: var(--color-red-50);
  --color-fg-danger-vivid: var(--color-red-900);
  --color-bg-positive-default-primary: var(--color-green-600);
  --color-bg-positive-subtle-primary: var(--color-green-50);
  --color-fg-positive-vivid: var(--color-green-900);
  --color-bg-neutral-dark-default-primary: #00ff22;
  --color-bg-neutral-dark-subtle-primary: #00ff22;
  --color-fg-neutral-default-tertiary: var(--color-grey-800);
  --color-fg-warning-vivid: var(--color-orange-900);
  --color-fg-warning-on-default: var(--color-white-a100);
  --color-bg-warning-subtle-primary: var(--color-orange-50);
  --color-bg-neutral-light-default-primary: #00ff22;
  --color-bg-neutral-light-subtle-primary: #00ff22;
  --color-bg-neutral-light-subtle-secondary: #00ff22;
  --sizing-size-4: var(--unit-4);
  --sizing-size-10: var(--unit-10);
  --sizing-size-12: var(--unit-12);
  --sizing-size-8: var(--unit-8);
  --sizing-size-6: var(--unit-6);
  --stroke-color-neutral-default-tertiary: var(--color-grey-800);
  --stroke-color-emerald-default-tertiary: var(--color-brand-800);
  --color-bg-rosewood-default-primary: var(--color-mallow-600);
  --color-fg-rosewood-on-default: var(--color-white-a100);
  --color-bg-rosewood-subtle-primary: var(--color-mallow-50);
  --color-fg-rosewood-vivid: var(--color-mallow-900);
  --color-bg-emerald-default-secondary: var(--color-brand-700);
  --stroke-color-focus-ring-default: var(--color-brand-500);
  --color-bg-emerald-default-tertiary: var(--color-brand-800);
  --color-bg-emerald-subtle-secondary: var(--color-brand-100);
  --color-bg-emerald-subtle-tertiary: var(--color-brand-200);
  --color-bg-rosewood-default-secondary: var(--color-mallow-700);
  --color-bg-rosewood-default-tertiary: var(--color-mallow-800);
  --color-bg-rosewood-subtle-secondary: var(--color-mallow-100);
  --color-bg-rosewood-subtle-tertiary: var(--color-mallow-200);
  --color-bg-neutral-base-default-secondary: #00ff22;
  --color-bg-neutral-base-default-tertiary: #00ff22;
  --color-bg-neutral-base-subtle-secondary: #00ff22;
  --color-bg-neutral-base-subtle-tertiary: #00ff22;
  --color-bg-neutral-light-default-secondary: #00ff22;
  --color-bg-neutral-light-default-tertiary: #00ff22;
  --color-bg-neutral-light-subtle-tertiary: #00ff22;
  --color-bg-danger-default-secondary: var(--color-red-700);
  --color-bg-danger-default-tertiary: var(--color-red-800);
  --color-bg-danger-subtle-secondary: var(--color-red-100);
  --color-bg-danger-subtle-tertiary: var(--color-red-200);
  --color-bg-positive-default-secondary: var(--color-green-700);
  --color-bg-positive-default-tertiary: var(--color-green-800);
  --color-bg-positive-subtle-secondary: var(--color-green-100);
  --color-bg-positive-subtle-tertiary: var(--color-green-200);
  --color-bg-neutral-dark-default-secondary: #00ff22;
  --color-bg-neutral-dark-default-tertiary: #00ff22;
  --color-bg-neutral-dark-subtle-secondary: #00ff22;
  --color-bg-neutral-dark-subtle-tertiary: #00ff22;
  --color-bg-warning-default-secondary: var(--color-orange-700);
  --color-bg-warning-default-tertiary: var(--color-orange-800);
  --color-bg-warning-subtle-secondary: var(--color-orange-100);
  --color-bg-warning-subtle-tertiary: var(--color-orange-200);
  --sizing-size-3: var(--unit-3);
  --color-bg-special-default-primary: var(--color-yellow-600);
  --color-fg-special-on-default: var(--color-white-a100);
  --color-bg-special-subtle-primary: var(--color-yellow-50);
  --color-bg-special-default-secondary: var(--color-yellow-700);
  --color-bg-surface-container-tertiary: var(--color-blue-50);
  --color-bg-cobalt-default-primary: var(--color-blue-600);
  --color-fg-cobalt-on-default: var(--color-white-a100);
  --color-bg-cobalt-subtle-primary: var(--color-blue-50);
  --color-bg-cobalt-default-secondary: var(--color-blue-700);
  --color-bg-cobalt-default-tertiary: var(--color-blue-900);
  --color-bg-cobalt-subtle-secondary: var(--color-blue-100);
  --color-bg-cobalt-subtle-tertiary: var(--color-blue-200);
  --color-fg-cobalt-vivid: var(--color-blue-900);
  --stroke-color-cobalt-default-primary: var(--color-blue-500);
  --stroke-color-cobalt-default-secondary: var(--color-blue-700);
  --stroke-color-cobalt-default-tertiary: var(--color-blue-800);
  --color-bg-special-subtle-tertiary: var(--color-yellow-200);
  --color-fg-special-vivid: var(--color-yellow-900);
  --stroke-color-rosewood-default-primary: var(--color-mallow-500);
  --stroke-color-rosewood-default-secondary: var(--color-mallow-700);
  --stroke-color-rosewood-default-tertiary: var(--color-mallow-800);
  --color-fg-danger-default-tertiary: var(--color-red-700);
  --color-fg-cobalt-default-tertiary: var(--color-blue-700);
  --spacing-padding-0,5: var(--unit-0,5);
  --rounded-none: var(--border-radius-0);
  --rounded-sm: var(--border-radius-0,5);
  --rounded-xl: var(--border-radius-3);
  --rounded-base: var(--border-radius-1);
  --rounded-md: var(--border-radius-1,5);
  --rounded-lg: var(--border-radius-2);
  --rounded-full: var(--border-radius-full);
  --rounded-2xl: var(--border-radius-4);
  --rounded-3xl: var(--border-radius-6);
  --sizing-width-16: var(--unit-16);
  --stroke-color-dark-:enabled: #00ff22;
  --stroke-color-dark-:hover: #00ff22;
  --stroke-color-dark-:active: #00ff22;
  --stroke-color-divider-dark: var(--color-grey-100);
  --stroke-color-neutral-subtle-primary: var(--color-grey-100);
  --stroke-color-neutral-subtle-secondary: var(--color-grey-200);
  --stroke-color-neutral-subtle-tertiary: var(--color-grey-300);
  --stroke-color-danger-default-primary: var(--color-red-500);
  --stroke-color-danger-default-secondary: var(--color-red-700);
  --stroke-color-danger-default-tertiary: var(--color-red-800);
  --color-fg-on-surface-faded: var(--color-grey-200);
  --color-fg-rosewood-default-tertiary: var(--color-mallow-700);
  --color-fg-on-surface-high-inverse: var(--color-white-a100);
  --color-fg-on-surface-medium-inverse: var(--color-white-a70);
  --color-fg-on-surface-low-inverse: var(--color-white-a48);
  --color-fg-on-surface-faded-inverse: var(--color-white-a32);
  --color-fg-neutral-default-primary: var(--color-grey-500);
  --color-bg-special-default-tertiary: var(--color-yellow-700);
  --color-bg-special-subtle-secondary: var(--color-yellow-100);
  --sizing-width-40: var(--unit-40);
  --color-bg-glass-default-primary: var(--color-white-a70);
  --color-bg-glass-default-secondary: var(--color-white-a48);
  --color-bg-glass-default-tertiary: var(--color-white-a32);
  --color-fg-glass-vivid: var(--color-white-a100);
  --color-fg-glass-on-default: var(--color-white-a100);
  --color-bg-glass-subtle-primary: var(--color-white-a05);
  --color-bg-glass-subtle-secondary: var(--color-white-a10);
  --color-bg-glass-subtle-tertiary: var(--color-white-a32);
  --stroke-color-warning-default-primary: var(--color-orange-600);
  --stroke-color-warning-default-secondary: var(--color-orange-700);
  --stroke-color-warning-default-tertiary: var(--color-orange-800);
  --stroke-color-positive-default-primary: var(--color-green-500);
  --stroke-color-positive-default-secondary: var(--color-green-700);
  --stroke-color-positive-default-tertiary: var(--color-green-800);
  --sizing-height-6: var(--unit-6);
  --sizing-height-8: var(--unit-8);
  --sizing-height-10: var(--unit-10);
  --sizing-height-12: var(--unit-12);
  --sizing-height-16: var(--unit-16);
  --sizing-height-20: var(--unit-20);
  --gradient-brand-primary-light-start: var(--color-bg-emerald-subtle-primary);
  --gradient-brand-primary-light-end: var(--color-bg-emerald-subtle-secondary);
  --gradient-brand-secondary-light-start: var(--color-bg-emerald-subtle-primary);
  --gradient-brand-secondary-light-end: var(--color-bg-rosewood-subtle-primary);
  --gradient-brand-tertiary-light-start: var(--color-bg-emerald-subtle-primary);
  --gradient-brand-tertiary-light-end: var(--color-bg-cobalt-subtle-primary);
  --gradient-brand-neutral-light-start: var(--color-bg-neutral-subtle-primary);
  --gradient-brand-neutral-light-end: var(--color-bg-neutral-subtle-tertiary);
  --gradient-brand-primary-dark-start: var(--color-bg-emerald-default-primary);
  --gradient-brand-primary-dark-end: var(--color-bg-emerald-default-tertiary);
  --gradient-brand-secondary-dark-start: var(--color-bg-emerald-default-primary);
  --gradient-brand-secondary-dark-end: var(--color-bg-rosewood-default-primary);
  --gradient-brand-tertiary-dark-start: var(--color-bg-emerald-default-primary);
  --gradient-brand-tertiary-dark-end: var(--color-bg-cobalt-default-primary);
  --gradient-brand-neutral-dark-start: var(--color-bg-neutral-default-primary);
  --gradient-brand-neutral-dark-end: var(--color-bg-neutral-default-tertiary);
  --color-fg-warning-default-tertiary: var(--color-orange-700);
  --color-fg-positive-default-tertiary: var(--color-green-700);
  --stroke-color-special-default-primary: var(--color-yellow-500);
  --stroke-color-special-default-secondary: var(--color-yellow-700);
  --stroke-color-special-default-tertiary: var(--color-yellow-800);
  --color-fg-special-default-tertiary: var(--color-yellow-700);
  --color-scrim-light: var(--color-black-a10);
  --sizing-height-24: var(--unit-24);
  --sizing-height-5: var(--unit-5);
  --color-bg-neutral-default-primary: var(--color-grey-600);
  --color-bg-neutral-default-secondary: var(--color-grey-700);
  --color-bg-neutral-default-tertiary: var(--color-grey-800);
  --color-bg-neutral-subtle-primary: var(--color-grey-50);
  --color-bg-neutral-subtle-secondary: var(--color-grey-100);
  --color-bg-neutral-subtle-tertiary: var(--color-grey-200);
  --color-fg-neutral-vivid: var(--color-grey-900);
  --color-fg-neutral-subtle: var(--color-grey-200);
  --color-fg-neutral-on-subtle: var(--color-grey-800);
  --color-fg-cobalt-default-primary: var(--color-blue-500);
  --color-fg-cobalt-default-secondary: var(--color-blue-600);
  --color-fg-cobalt-subtle: var(--color-blue-200);
  --color-fg-cobalt-on-subtle: var(--color-blue-700);
  --color-fg-rosewood-default-primary: var(--color-mallow-500);
  --color-fg-rosewood-default-secondary: var(--color-mallow-600);
  --color-fg-rosewood-subtle: var(--color-mallow-200);
  --color-fg-rosewood-on-subtle: var(--color-mallow-700);
  --color-fg-emerald-default-primary: var(--color-brand-500);
  --color-fg-emerald-default-secondary: var(--color-brand-600);
  --color-fg-emerald-subtle: var(--color-brand-200);
  --color-fg-emerald-on-subtle: var(--color-brand-700);
  --spacing-gap-0: var(--unit-0);
  --spacing-gap-0,5: var(--unit-0,5);
  --spacing-gap-1: var(--unit-1);
  --spacing-gap-1,5: var(--unit-1,5);
  --spacing-gap-2: var(--unit-2);
  --spacing-gap-3: var(--unit-3);
  --spacing-gap-4: var(--unit-4);
  --spacing-gap-6: var(--unit-6);
  --spacing-gap-8: var(--unit-8);
  --spacing-gap-12: var(--unit-12);
  --spacing-gap-16: var(--unit-16);
  --spacing-gap-20: var(--unit-20);
  --color-fg-warning-default-primary: var(--color-orange-500);
  --color-fg-warning-default-secondary: var(--color-orange-600);
  --color-fg-warning-subtle: var(--color-orange-200);
  --color-fg-warning-on-subtle: var(--color-orange-700);
  --color-fg-positive-default-primary: var(--color-green-500);
  --color-fg-positive-default-secondary: var(--color-green-600);
  --color-fg-positive-subtle: var(--color-green-200);
  --color-fg-positive-on-subtle: var(--color-green-700);
  --color-fg-danger-default-primary: var(--color-red-500);
  --color-fg-danger-default-secondary: var(--color-red-600);
  --color-fg-danger-subtle: var(--color-red-200);
  --color-fg-danger-on-subtle: var(--color-red-700);
  --color-fg-special-default-primary: var(--color-yellow-500);
  --color-fg-special-default-secondary: var(--color-yellow-600);
  --color-fg-special-subtle: var(--color-yellow-200);
  --color-fg-special-on-subtle: var(--color-yellow-700);
  --color-bg-disabled-default: var(--color-grey-50);
  --color-fg-disabled-default: var(--color-grey-100);
  --color-fg-disabled-on-default: var(--color-grey-200);
  --stroke-color-disabled-default: var(--color-grey-100);
  --sizing-size-5: var(--unit-5);
  --sizing-size-7: var(--unit-7);
  --sizing-size-11: var(--unit-11);
}

[data-theme="Default"] {
  --color-black-a100: #0d0d0d;
  --color-white-a100: #ffffff;
  --color-grey-50: #f5f6f7;
  --color-grey-100: #e8e9eb;
  --color-grey-200: #d3d3d3;
  --color-grey-300: #acacad;
  --color-grey-400: #909091;
  --color-grey-500: #787878;
  --color-grey-600: #5d5e5e;
  --color-grey-700: #4b4b4d;
  --color-grey-800: #363738;
  --color-grey-900: #262729;
  --color-brand-50: #f0f5f2;
  --color-brand-100: #dff0e6;
  --color-brand-200: #c1e6d3;
  --color-brand-300: #79c9a5;
  --color-brand-400: #49b388;
  --color-brand-500: #28a176;
  --color-brand-600: #0e8f6c;
  --color-brand-700: #157358;
  --color-brand-800: #184f3f;
  --color-brand-900: #14382e;
  --color-green-50: #eaf5e9;
  --color-green-100: #c2e5bc;
  --color-green-200: #9dd694;
  --color-green-300: #7cc76f;
  --color-green-400: #5eb84f;
  --color-green-500: #43a832;
  --color-green-600: #2b981a;
  --color-green-700: #268018;
  --color-green-800: #216615;
  --color-green-900: #1a4d12;
  --color-red-50: #fae8e8;
  --color-red-100: #f5c9c9;
  --color-red-200: #f0a5a5;
  --color-red-300: #eb8383;
  --color-red-400: #e56363;
  --color-red-500: #e04343;
  --color-red-600: #dc2626;
  --color-red-700: #b22020;
  --color-red-800: #8a1a1a;
  --color-red-900: #611313;
  --color-orange-50: #faf2ed;
  --color-orange-100: #f5d8c9;
  --color-orange-200: #f0bfa5;
  --color-orange-300: #eba683;
  --color-orange-400: #e58f63;
  --color-orange-500: #e07943;
  --color-orange-600: #db6425;
  --color-orange-700: #b25220;
  --color-orange-800: #8a401a;
  --color-orange-900: #612e13;
  --color-yellow-50: #f5f2e9;
  --color-yellow-100: #f0e7c5;
  --color-yellow-200: #ebdda2;
  --color-yellow-300: #e5d281;
  --color-yellow-400: #e0c860;
  --color-yellow-500: #e0c243;
  --color-yellow-600: #dbb825;
  --color-yellow-700: #b29620;
  --color-yellow-800: #8a741a;
  --color-yellow-900: #615213;
  --color-blue-50: #e9edf7;
  --color-blue-100: #ced9f0;
  --color-blue-200: #b0c2e8;
  --color-blue-300: #92aade;
  --color-blue-400: #7895d6;
  --color-blue-500: #5e80cc;
  --color-blue-600: #466dc5;
  --color-blue-700: #3a57a9;
  --color-blue-800: #2b4495;
  --color-blue-900: #253b7b;
  --color-mallow-50: #f8f1f4;
  --color-mallow-100: #f5dfea;
  --color-mallow-200: #e8c5d6;
  --color-mallow-300: #deadc5;
  --color-mallow-400: #d496b4;
  --color-mallow-500: #c981a4;
  --color-mallow-600: #bf6f96;
  --color-mallow-700: #9e5277;
  --color-mallow-800: #803b5c;
  --color-mallow-900: #5e2641;
  --color-red-950: #360b0b;
  --color-orange-950: #381b0c;
  --color-green-950: #12330c;
  --color-blue-950: #1f2b4e;
  --color-yellow-950: #38300c;
  --color-mallow-950: #3f0e27;
  --color-brand-950: #102620;
  --color-grey-950: #17181a;
  --color-white-a05: #ffffff0d;
  --color-white-a10: #ffffff1a;
  --color-white-a32: #ffffff52;
  --color-white-a48: #ffffff7a;
  --color-white-a70: #ffffffb2;
  --color-black-a05: #0d0d0d0d;
  --color-black-a10: #0d0d0d1a;
  --color-black-a32: #0d0d0d52;
  --color-black-a48: #0d0d0d7a;
  --color-black-a70: #0d0d0db2;
}

[data-theme="desktop"] {

}

[data-theme="tablet"] {

}

[data-theme="mobile"] {

}

[data-theme="Mode 1"] {
  --text-3xs-letter-spacing: var(--typescale-tracking-0);
  --text-3xs-font-family: var(--typeface-font-default);
  --text-3xs-weight-medium: var(--typeface-weight-medium);
  --text-3xs-size: var(--typescale-size-2);
  --text-3xs-line-height: var(--typescale-leading-2,5);
  --text-3xs-weight: var(--typeface-weight-regular);
  --text-3xs-weight-semibold: var(--typeface-weight-semibold);
  --text-3xs-weight-strong: var(--typeface-weight-semibold);
  --text-2xs-size: var(--typescale-size-2,5);
  --text-2xs-font-family: var(--typeface-font-default);
  --text-2xs-line-height: var(--typescale-leading-3);
  --text-2xs-letter-spacing: var(--typescale-tracking-0);
  --text-2xs-weight: var(--typeface-weight-regular);
  --text-2xs-weight-strong: var(--typeface-weight-semibold);
  --text-2xs-weight-medium: var(--typeface-weight-medium);
  --text-2xs-weight-semibold: var(--typeface-weight-semibold);
  --text-xs-size: var(--typescale-size-3);
  --text-xs-font-family: var(--typeface-font-default);
  --text-xs-line-height: var(--typescale-leading-3,5);
  --text-xs-letter-spacing: var(--typescale-tracking-0);
  --text-xs-weight: var(--typeface-weight-regular);
  --text-xs-weight-strong: var(--typeface-weight-semibold);
  --text-xs-weight-medium: var(--typeface-weight-medium);
  --text-xs-weight-semibold: var(--typeface-weight-semibold);
  --text-sm-size: var(--typescale-size-3,5);
  --text-sm-font-family: var(--typeface-font-default);
  --text-sm-line-height: var(--typescale-leading-4);
  --text-sm-letter-spacing: var(--typescale-tracking-0);
  --text-sm-weight: var(--typeface-weight-regular);
  --text-sm-weight-strong: var(--typeface-weight-semibold);
  --text-sm-weight-medium: var(--typeface-weight-medium);
  --text-sm-weight-semibold: var(--typeface-weight-semibold);
  --text-md-size: var(--typescale-size-4);
  --text-md-font-family: var(--typeface-font-default);
  --text-md-line-height: var(--typescale-leading-5);
  --text-md-letter-spacing: var(--typescale-tracking-0);
  --text-md-weight: var(--typeface-weight-regular);
  --text-md-weight-strong: var(--typeface-weight-semibold);
  --text-md-weight-medium: var(--typeface-weight-medium);
  --text-md-weight-semibold: var(--typeface-weight-semibold);
  --text-lg-size: var(--typescale-size-4,5);
  --text-lg-font-family: var(--typeface-font-default);
  --text-lg-line-height: var(--typescale-leading-5,5);
  --text-lg-letter-spacing: var(--typescale-tracking-0);
  --text-lg-weight: var(--typeface-weight-regular);
  --text-lg-weight-strong: var(--typeface-weight-semibold);
  --text-lg-weight-medium: var(--typeface-weight-medium);
  --text-lg-weight-semibold: var(--typeface-weight-semibold);
  --text-xl-size: var(--typescale-size-5);
  --text-xl-font-family: var(--typeface-font-default);
  --text-xl-line-height: var(--typescale-leading-6);
  --text-xl-letter-spacing: var(--typescale-tracking-0);
  --text-xl-weight: var(--typeface-weight-regular);
  --text-xl-weight-strong: var(--typeface-weight-semibold);
  --text-xl-weight-medium: var(--typeface-weight-medium);
  --text-xl-weight-semibold: var(--typeface-weight-semibold);
  --text-2xl-size: var(--typescale-size-6);
  --text-2xl-font-family: var(--typeface-font-default);
  --text-2xl-line-height: var(--typescale-leading-8);
  --text-2xl-letter-spacing: var(--typescale-tracking-0);
  --text-2xl-weight: var(--typeface-weight-regular);
  --text-2xl-weight-strong: var(--typeface-weight-semibold);
  --text-2xl-weight-medium: var(--typeface-weight-medium);
  --text-2xl-weight-semibold: var(--typeface-weight-semibold);
  --text-3xl-size: var(--typescale-size-7,5);
  --text-3xl-font-family: var(--typeface-font-default);
  --text-3xl-line-height: var(--typescale-leading-9);
  --text-3xl-letter-spacing: var(--typescale-tracking-0);
  --text-3xl-weight: var(--typeface-weight-regular);
  --text-3xl-weight-strong: var(--typeface-weight-semibold);
  --text-3xl-weight-medium: var(--typeface-weight-medium);
  --text-3xl-weight-semibold: var(--typeface-weight-semibold);
  --text-4xl-size: var(--typescale-size-9);
  --text-4xl-font-family: var(--typeface-font-default);
  --text-4xl-line-height: var(--typescale-leading-10);
  --text-4xl-letter-spacing: var(--typescale-tracking-0);
  --text-4xl-weight: var(--typeface-weight-regular);
  --text-4xl-weight-strong: var(--typeface-weight-semibold);
  --text-4xl-weight-medium: var(--typeface-weight-medium);
  --text-4xl-weight-semibold: var(--typeface-weight-semibold);
  --text-5xl-size: var(--typescale-size-12);
  --text-5xl-font-family: var(--typeface-font-default);
  --text-5xl-line-height: var(--typescale-leading-13);
  --text-5xl-letter-spacing: var(--typescale-tracking-0);
  --text-5xl-weight: var(--typeface-weight-regular);
  --text-5xl-weight-strong: var(--typeface-weight-semibold);
  --text-5xl-weight-medium: var(--typeface-weight-medium);
  --text-5xl-weight-semibold: var(--typeface-weight-semibold);
  --text-6xl-size: var(--typescale-size-15);
  --text-6xl-font-family: var(--typeface-font-default);
  --text-6xl-line-height: var(--typescale-leading-16);
  --text-6xl-letter-spacing: var(--typescale-tracking-0);
  --text-6xl-weight: var(--typeface-weight-regular);
  --text-6xl-weight-strong: var(--typeface-weight-semibold);
  --text-6xl-weight-medium: var(--typeface-weight-medium);
  --text-6xl-weight-semibold: var(--typeface-weight-semibold);
  --text-7xl-size: var(--typescale-size-18);
  --text-7xl-font-family: var(--typeface-font-default);
  --text-7xl-line-height: var(--typescale-leading-18);
  --text-7xl-letter-spacing: var(--typescale-tracking-0);
  --text-7xl-weight: var(--typeface-weight-regular);
  --text-7xl-weight-strong: var(--typeface-weight-semibold);
  --text-7xl-weight-medium: var(--typeface-weight-medium);
  --text-7xl-weight-semibold: var(--typeface-weight-semibold);
  --text-8xl-size: var(--typescale-size-24);
  --text-8xl-font-family: var(--typeface-font-default);
  --text-8xl-line-height: var(--typescale-leading-24);
  --text-8xl-letter-spacing: var(--typescale-tracking-0);
  --text-8xl-weight: var(--typeface-weight-regular);
  --text-8xl-weight-strong: var(--typeface-weight-semibold);
  --text-8xl-weight-medium: var(--typeface-weight-medium);
  --text-8xl-weight-semibold: var(--typeface-weight-semibold);
  --text-9xl-size: var(--typescale-size-32);
  --text-9xl-font-family: var(--typeface-font-default);
  --text-9xl-line-height: var(--typescale-leading-32);
  --text-9xl-letter-spacing: var(--typescale-tracking-0);
  --text-9xl-weight: var(--typeface-weight-regular);
  --text-9xl-weight-strong: var(--typeface-weight-semibold);
  --text-9xl-weight-medium: var(--typeface-weight-medium);
  --text-9xl-weight-semibold: var(--typeface-weight-semibold);
  --numerals-xs-size: var(--typescale-size-3);
  --numerals-xs-font-family: var(--typeface-font-default);
  --numerals-xs-line-height: var(--typescale-leading-3,5);
  --numerals-xs-letter-spacing: var(--typescale-tracking-0);
  --numerals-xs-weight: var(--typeface-weight-regular);
  --numerals-xs-weight-strong: var(--typeface-weight-semibold);
  --numerals-sm-size: var(--typescale-size-3,5);
  --numerals-sm-font-family: var(--typeface-font-default);
  --numerals-sm-line-height: var(--typescale-leading-4);
  --numerals-sm-letter-spacing: var(--typescale-tracking-0);
  --numerals-sm-weight: var(--typeface-weight-regular);
  --numerals-sm-weight-strong: var(--typeface-weight-semibold);
  --numerals-md-size: var(--typescale-size-4);
  --numerals-md-font-family: var(--typeface-font-default);
  --numerals-md-line-height: var(--typescale-leading-5);
  --numerals-md-letter-spacing: var(--typescale-tracking-0);
  --numerals-md-weight: var(--typeface-weight-regular);
  --numerals-md-weight-strong: var(--typeface-weight-semibold);
  --numerals-lg-size: var(--typescale-size-4,5);
  --numerals-lg-font-family: var(--typeface-font-default);
  --numerals-lg-line-height: var(--typescale-leading-5,5);
  --numerals-lg-letter-spacing: var(--typescale-tracking-0);
  --numerals-lg-weight: var(--typeface-weight-regular);
  --numerals-lg-weight-strong: var(--typeface-weight-semibold);
}

[data-theme="Off"] {

}

[data-theme="On"] {

}
